/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 4rem 0 2rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values, .program {
  background-color: #357e79;
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.values input {
  color: #000;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  /* font-weight: 300; */
}
/* .values form input, .values form select, .values form textarea {
  color: black;
} */

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}

input[type="submit"].button-primary, .button.button-primary {
  background-color: #357e79;
  border-color: #357e79;
  border-radius: 100px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.program, .values a {
  color: #92bfbc;
}

.program a {
  color: #fff;
}

.program table {
  width: 100%;
}

.youtube-container { display: inline; /* margin: 20px auto; */ width: 100%; max-width: 600px; margin-bottom: 2em; }
.youtube-player { display: block; width: 100%; /* assuming that the video has a 16:9 ratio */ padding-bottom: 56.25%; overflow: hidden; position: relative; width: 100%; cursor: hand; cursor: pointer; display: block; }
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: auto }
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("/img/play.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.banner {
   background: #d5115b;
   color: white;
   padding: 1em;
}

.banner a {
  color: #f8f987;
}

@media (min-width: 550px) {
  #videos .column {
    margin-left: 2%;
    height: 250px;
  }
}

@media (min-width: 1000px) {
  #videos .column {
    height: 280px;
  }
}

#videos .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#videos h5 {
  line-height: 1em;
  margin: 0;
}

#videos a {
  line-height: 1em;
}

.quicksearch {
  max-width: 100%;
}

.filter-btn-group {
}

.filter-btn-group button {
  height: 90px;
  width: 100px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 10px;
  border: 0;
  padding: 0 0 70px;
  color: white;
  line-height: 100%;
}