{% include "header.html" %}

<body onload="document.querySelector('.quicksearch').focus();">

  {% include "banner.html" %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section values">
    <div class="container">

      <h2>Écoutez nos dernières vidéos</h2>
      <input type="text" size="36" class="quicksearch form-control" placeholder="Entrez un nom d'anime ou d'anisong" aria-describedby="sizing-addon1"><br />

      <div class="btn-group filter-btn-group">
        <button type="button" data-filter="*" class="btn btn-default">Tout</button>
        <button type="button" data-filter=".interq" class="btn btn-default" style="background-image: url('/img/concerts/interq.jpg')">ENS</button>
        <button type="button" data-filter=".epitanime-asa, .epitanime-yoru, .epitanime2016-asa, .epitanime2016-yoru" class="btn btn-default" style="background-image: url('/img/concerts/epitanime.jpg')">Epitanime</button>
        <!-- <button type="button" data-filter=".japanexposud2016" class="btn btn-default" style="background-image: url('/img/concerts/japanexpo.png')"></button> -->
        <button type="button" data-filter=".telethon-i, .telethon-ii" class="btn btn-default" style="background-image: url('/img/concerts/telethon.jpg')">Téléthon</button>
        <button type="button" data-filter=".mines" class="btn btn-default" style="background: #000 url('/img/concerts/mines.jpg') 50% 20px/cover no-repeat">Mines</button>
      </div>

      <a href="https://twitter.com/intent/tweet?text=Tu aimes la musique d'anime ? Écoute nos reprises !&amp;url=http://trioelm.com&amp;via=trioelm&amp;related=" class="button button-primary" style="border: 1px solid white">Partager sur Twitter</a>
      <a href="https://facebook.com/sharer.php?u=http://trioelm.com" class="button button-primary" style="border: 1px solid white">Partager sur Facebook</a>

      <div id="videos" class="row" style="margin-top: 2em">
      {% for video in all_videos %}
        <div class="one-third column value {{ video.concert }}{% if video.featured %} featured{% endif %}">
          <h5 class="value-heading work">{{ video.work }}</h5>
          <a href="https://youtu.be/{{ video.id }}" class="title">{{ video.title }}</a>
          <div class="youtube-container">
            <div class="youtube-player" data-id="{{ video.id }}"></div>
          </div>
        </div>
      {% endfor %}
      </div>
      <a href="https://www.youtube.com/channel/UCbzNJyNJtRx_gOhE9j7DrDw" target="_blank">Voir toutes les vidéos sur YouTube</a>
    </div>
  </div>

{% include "footer.html" %}