{% include "header.html" %}

<body>

  {% include "banner.html" %}

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section">
    <div class="container">
      <h2>Programme {{ concert.title }}</h2>
    </div>
    <div class="container">
      {% if concert.title == 'Concert Retrogaming & Anime' %}
        <a href="/img/poster.jpg" target="_blank"><img src="/img/poster.png" alt="Poster du concert" style="border: 1px solid black" /></a>
        <a href="/img/FONDCONCERTDESU.jpg" target="_blank"><img src="/img/FONDCONCERTDESU.min.jpg" alt="Fond du concert" /></a><br />
        Le <a href="https://www.youtube.com/playlist?list=PLPtDOWi65kraB9AgUkcN9NkwIsiT6NRnb">concert complet</a> est disponible sur YouTube. Bon visionnage !
      {% elif concert.description %}
        {{ concert.description }}
      {% endif %}
      <br />
      <a href="https://twitter.com/intent/tweet?text=Retrouvez le dernier concert du Trio ELM à {{ concert.title }} sur YouTube !&amp;url=http://trioelm.com/{{ concert.url }}&amp;via=trioelm&amp;related=" class="button button-primary">Partager sur Twitter</a>
      <a href="https://facebook.com/sharer.php?u=http://trioelm.com/{{ concert.url }}" class="button button-primary">Partager sur Facebook</a>
    </div>
  </div>

  <div class="section program">
    <div class="container">
      <table>
      <tr><th>Anime/Jeux</th><th>Vidéos</th></tr>
      {% for piece in concert.full_program %}
        <tr class="work">
          <td>{{ piece.work }}</td>
          <td>
          {% if piece.url == '#' %}
            {{ piece.title }}
          {% else %}
            <a href="{{ piece.url }}">{{ piece.title }}</a>
            {% if piece.sheet %}
              <a href="{{ piece.sheet }}" target="_blank">(partition)</a>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% for piece in concert.full_encores %}
        <tr class="work">
          <td>BONUS: {{ piece.work }}</td>
          <td>
          {% if piece.url == '#' %}
            {{ piece.title }}
          {% else %}
            <a href="{{ piece.url }}">{{ piece.title }}</a>
            {% if piece.sheet %}
              <a href="{{ piece.sheet }}" target="_blank">Partition</a>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>

{% include "footer.html" %}