<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Trio ELM - Reprises de musiques d'anime</title>
  <meta name="description" content="Un pianiste et deux chanteuses : voici le Trio ELM et ses magnifiques adaptations tirées de bandes originales de longs métrages et d'anime !">
  <meta name="author" content="Jill-Jênn Vie">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/ranking.css">

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
  <!-- <script src="/js/websocket.js"></script> -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <div class="section" style="background: #050f37; margin: 0; padding: 0">
    <a href="/"><img class="pure-img" src="/img/banner.gif" style="max-width: 100%; border-color: black; border-style: solid; display: block; margin: auto; vertical-align: middle" /></a>
    <div class="container" style="text-align: center; margin-top: 0.5em">
      <a href="https://fb.me/trioelm" target="_blank"><img src="/img/facebook.png" /></a>
      <a href="https://twitter.com/trioelm" target="_blank"><img src="/img/twitter.png" /></a>
      <a href="https://www.youtube.com/channel/UCbzNJyNJtRx_gOhE9j7DrDw" target="_blank"><img src="/img/youtube.png" /></a>
    </div>
    <!-- <div class="banner">
        En concert à <a href="http://www.epita-convention.com/2016/03/concert-trio-elm/" target="_blank">Epitanime</a> vendredi 27 et samedi 28 mai !
    </div> -->
  </div>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="section">
    <div class="container">
      <h2>Programme {{ concert.title }}</h2>
    </div>
    <div class="container">
      {% if concert.title == 'Concert Retrogaming & Anime' %}
        <a href="/img/poster.jpg" target="_blank"><img src="/img/poster.png" alt="Poster du concert" style="border: 1px solid black" /></a>
        <a href="/img/FONDCONCERTDESU.jpg" target="_blank"><img src="/img/FONDCONCERTDESU.min.jpg" alt="Fond du concert" /></a><br />
        Le <a href="https://www.youtube.com/playlist?list=PLPtDOWi65kraB9AgUkcN9NkwIsiT6NRnb">concert complet</a> est disponible sur YouTube. Bon visionnage !
      {% elif concert.description %}
        {{ concert.description }}
      {% endif %}
      <br />
      <a href="https://twitter.com/intent/tweet?text=Retrouvez le dernier concert du Trio ELM à {{ concert.title }} sur YouTube !&amp;url=http://trioelm.com/{{ concert.url }}&amp;via=trioelm&amp;related=" class="button button-primary">Partager sur Twitter</a>
      <a href="https://facebook.com/sharer.php?u=http://trioelm.com/{{ concert.url }}" class="button button-primary">Partager sur Facebook</a>
    </div>
  </div>

  <div class="section program">
    <div class="container">
      <table>
      <tr><th>Anime/Jeux</th><th>Vidéos</th></tr>
      {% for piece in concert.full_program %}
        <tr class="work">
          <td>{{ piece.work }}</td>
          <td>
          {% if piece.url == '#' %}
            {{ piece.title }}
          {% else %}
            <a href="{{ piece.url }}">{{ piece.title }}</a>
            {% if piece.sheet %}
              <a href="{{ piece.sheet }}" target="_blank">(partition)</a>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% for piece in concert.full_encores %}
        <tr class="work">
          <td>BONUS: {{ piece.work }}</td>
          <td>
          {% if piece.url == '#' %}
            {{ piece.title }}
          {% else %}
            <a href="{{ piece.url }}">{{ piece.title }}</a>
            {% if piece.sheet %}
              <a href="{{ piece.sheet }}" target="_blank">Partition</a>
            {% endif %}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h2 class="section-heading">Nos derniers concerts</h2>
      <ul>
        {% for concert in all_concerts %}
          <li><a href="/{{ concert.url }}">{{ concert.title }}, le {{ concert.date }}</a></li>
        {% endfor %}
      </ul>
      Pour ne manquer aucun concert, rejoignez-nous sur <a href="https://fb.me/trioelm" target="_blank">Facebook</a> ou <a href="https://twitter.com/trioelm" target="_blank">Twitter</a> !

    </div>
  </div>

  <div class="section values">
    <div class="container">
      <h2>Qui sommes-nous ?</h2>
      <div class="row">
        <div class="one-third column value">
          <h5 class="value-heading">JJ</h5>
          <img src="/img/jjchibi.png" />
          <p>Pianiste fou<br /><a href="http://mangaki.fr" target="_blank">Mangaki.fr</a></p>
          <a href="https://twitter.com/jjvie"><img src="/img/twitter.png" /></a>
          <a href="https://youtube.com/user/Xnihpsel"><img src="/img/youtube.png" /></a>
        </div>
        <div class="one-third column value">
          <h5 class="value-heading">Sedeto</h5>
          <img src="/img/sedetochibi.png" />
          <p>Directrice artistique<br /><a href="https://www.facebook.com/DoujinStyle/" target="_blank">Doujin Style</a></p>
          <a href="https://www.facebook.com/DoujinStyle/" target="_blank"><img src="/img/facebook.png" /></a>
          <a href="https://twitter.com/sedeto" target="_blank"><img src="/img/twitter.png" /></a>
        </div>
        <div class="one-third column value">
          <h5 class="value-heading">Lily</h5>
          <img src="/img/lilychibi.png" />
          <p>Chanteuse professionnelle<br /><a href="https://www.facebook.com/leslueursdelily" target="_blank">Les Lueurs de Lily</a></p>
          <a href="https://www.facebook.com/leslueursdelily" target="_blank"><img src="/img/facebook.png" /></a>
          <a href="https://www.youtube.com/user/leslueursdelily" target="_blank"><img src="/img/youtube.png" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <h2 class="section-heading">Contactez-nous</h2>
      trioelm@gmail.com

      <hr />

      <a href="https://fb.me/trioelm"><img src="/img/facebook.png" /></a>
      <a href="https://twitter.com/trioelm"><img src="/img/twitter.png" /></a>
      <a href="https://www.youtube.com/channel/UCbzNJyNJtRx_gOhE9j7DrDw"><img src="/img/youtube.png" /></a>

    </div>
  </div>

<script>
(function() {
    var v = document.getElementsByClassName("youtube-player");
    for (var n = 0; n < v.length; n++) {
        var p = document.createElement("div");
        p.innerHTML = labnolThumb(v[n].dataset.id);
        p.onclick = labnolIframe;
        v[n].appendChild(p);
    }
})();
 
function labnolThumb(id) {
    return '<img class="youtube-thumb" src="//i.ytimg.com/vi/' + id + '/hqdefault.jpg"><div class="play-button"></div>';
}
 
function labnolIframe() {
    var iframe = document.createElement("iframe");
    iframe.setAttribute("src", "//www.youtube.com/embed/" + this.parentNode.dataset.id + "?autoplay=1&autohide=2&border=0&wmode=opaque&enablejsapi=1&controls=0&showinfo=0");
    iframe.setAttribute("frameborder", "0");
    iframe.setAttribute("id", "youtube-iframe");
    this.parentNode.replaceChild(iframe, this);
}
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64155852-1', 'auto');
  ga('send', 'pageview');
</script>

<script src="/js/ranking.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
